.case-St {
  display: flex;
  gap: 1.5rem;
  margin: 0.5rem 0;
  margin-bottom: 20px;
  list-style: none;
}

.case-St h1 {
  position: relative;
}

.case-St h1::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 50px;
  width: 150px;
  height: 1px;
  background-color: #000000;
}


.custom-swiper .swiper-pagination-bullet {
  padding: 5px;
  border: 1px solid rgb(11, 0, 51) !important;
  opacity: 4;
  background: white;
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: #000000;
  opacity: 2;
}



@media (min-width: 320px) {
  .case-St h1::after {
    left: 150px;
    top: 12px;
  }

}

@media (min-width: 768px) {
  .case-St h1::after {
    top: 14px;
    left: 150px;
  }

}