.clients_page {
  display: flex;
}

.clients_page h1 {
  position: relative;
  /* cursor: pointer; */
  /* padding-bottom: 4px; */
}

.clients_page h1::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 120px;
  width: 100px;
  height: 1px;
  background-color: #000000;
}


@media (min-width:768px) {
  .clients_page h1::after {
    top: 19px;
    left: 150px;
    width: 150px;
  }
}

@media (min-width:1024px) {
  .clients_page h1::after {
    top: 23px;
    left: 180px;
    width: 150px;
  }
}
