.challenge-partner {
    display: flex;
    margin-bottom: 20px;
    list-style: none;
}

.challenge-partner h1 {
    position: relative;
}

.challenge-partner h1::after {
    content: "";
    position: absolute;
    top: 80px;
    left: 5px;
    width: 150px;
    height: 3px;
    background-color: #000000;
}

@media (min-width: 768px) {
    .challenge-partner h1::after {
        top: 50px;
        left: 35%;
        width: 120px
    }
}

