.advisors {
  display: flex;
  gap: 1.5rem;
  margin: 0.5rem 0;
  margin-bottom: 20px;
  list-style: none;
}

.advisors h1 {
  position: relative;
  /* cursor: pointer; */
  /* padding-bottom: 4px; */
}

.advisors h1::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 180px;
  width: 150px;
  height: 1px;
  background-color: #000000;
}

.advisor-card {
  transition: all 1s ease-in-out;
}

.advisor-card:hover {
  transform: translateY(-8px);
  opacity: 0.95;
}



.advisors_details {
  gap: 1.5rem;
  margin: 0.5rem 0;
  margin-bottom: 5px;
  list-style: none;
}

.advisors_details h4 {
  position: relative;
}

.advisors_details h4::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 0px;
  width: 350px;
  height: 1px;
  background-color: #000000;
}


@keyframes fadeInForward {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.70);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.advisor-card {
  animation: fadeInForward 0.6s ease-out forwards;
}


@media (min-width: 320px) {
  .advisors_details h4::after {
    width: 150px
  }
}

@media (min-width: 768px) {
  .advisors_details h4::after {
    width: 300px
  }
}

