@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-down-banner {
  animation: fadeDown 0.8s ease-out forwards;
}

.fade-up-banner {
  animation: fadeUp 0.9s ease-out forwards;
}


.custom-swiper-banner .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: rgb(177, 177, 177);
  opacity: 1;
  transition: background-color 0.5s ease;
}

/* Active bullet */
.custom-swiper-banner .swiper-pagination-bullet-active {
  background-color: #00d9ff;
}
